* {
	font-size:1.2em;
}
.tom-name {
	font-family: 'Orbitron', sans-serif;
}
.alice-name {
	font-family: 'Pacifico', cursive;
}

.header-name {
	font-weight:bold;
    font-size:1.5em;
}
.container .row {
	margin-top:20px;
	margin-bottom:20px;
}
.request-you-line {

}

.the-date, .save-the-date-text {
	font-size:2em;
}
