/*
$turquoise: #1abc9c !default;
$dark_turquoise: #16a085 !default;

$green: #2ecc71 !default;
$dark_green: #27ae60 !default;

$blue: #3498db !default;
$dark_blue: #2980b9 !default;

$purple: #9b59b6 !default;
$dark_purple: #8e44ad !default;

$asphalt: #34495e !default;
$dark_asphalt: #2c3e50 !default;

$yellow: #f1c40f !default;
$dark_yellow: #f39c12 !default;

$orange: #e67e22 !default;
$dark_orange: #d35400 !default;

$red: #e74c3c !default;
$dark_red: #c0392b !default;

$white: #ecf0f1 !default;
$dark_white: #bdc3c7 !default;

$grey: #95a5a6 !default;
$dark_grey: #7f8c8d !default;
 */
 body {
 	/*background:#8e44ad;*/
 }
#form input,#form button {
	display:block;
	float:left;
	font-size:2em;
}
a {
	color: inherit;
	text-decoration: underline;
}
#form input {
	width:75%;
	padding-left:0.5em;
	min-height:2em;
}

#form button {
	height:2em;
	width:25%;
	font-weight:bold;
	color:white;
	background:#9b59b6;
	border:0;
}

#form,#header {
	position:fixed;
	width:100%;
	z-index:100;
}

#form {
	bottom:0;
}

#header {
	background:#34495e;
	color:white;
	text-align:center;
	font-weight:bold;
}

#header .hash {
	color:#e74c3c;
}

#header .one {
	color:#f1c40f;
}

#header .two {
	color:#3498db;
}

#header .three {
	color:#2ecc71;
}

.container-fluid {
	padding-top:6em;
	margin-bottom:4em;
	overflow:hidden;
}

#messages img {
	display:block;
	margin-top:0.5em;
	margin-bottom:0.5em;
	-webkit-border-radius: 1.5em 1.5em 1.5em 1.5em;
	border-radius: 1.5em 1.5em 1.5em 1.5em;
}

#messages p,#messages h1,#messages h2,#messages h3,#messages h4,#messages h5,#messages h6 {
	margin-top:0.5em;
	margin-bottom:0.5em;
}
#messages h1,#messages h2,#messages h3,#messages h4,#messages h5,#messages h6 {
	font-weight:bold;
	padding:0.5em;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#messages p {
	font-size:1.5em;
}

#messages h1 {
	background:#c0392b;
	color:white;
}

#messages h2 {
	background:#2ecc71;
	color:white;
}

#messages h3 {
	background:#e67e22;
	color:white;
}

#messages h4 {
	background:#9b59b6;
	color:white;
}

#messages h5 {
	background:#16a085;
	color:white;
}

#messages h6 {
	background:#d35400;
	color:white;
}

.sticker-button {
	width:100%;
	background:white;
	border:none;
	text-align:center;
}

.sticker-button img {
	display:block;
	width:80%;
}
